
/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

@define-color main-background #1E2A33;
@define-color lighter-background #314654;
@define-color medium-background #1E2A33;
@define-color select-color #B09995;
@define-color text-color #F4EDE5;
@define-color border-color #69403E;
@define-color border-accent #FF403E;

window {
	background: @main-background;
	background-size: cover;
	
}

button {
	color: #FFFFFF; 
    font-size:20px;
	

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	border-style: solid;
	background-color: @lighter-background;
	border: 3px solid @border-color;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
    color: #FFFFFF;
	background-color: @select-color;
	border: 3px solid @border-accent;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/


#lock {
	margin: 10px;
	border-radius: 5px;
}

#logout {
	margin: 10px;
	border-radius: 5px;
}

#suspend {
	margin: 10px;
	border-radius: 5px;
}

#hibernate {
	margin: 10px;
	border-radius: 5px;
}

#shutdown {
	margin: 10px;
	border-radius: 5px;
}

#reboot {
	margin: 10px;
	border-radius: 5px;
}
